*{
    margin: 0px;
    pading: 0px;
}
#cal{
    border: 2px solid rgb(218, 215, 215);
    width: 200px;
    border-radius: 5px;
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    width: 45px;
    height: 45px;
    margin:3px ;
}